* text eol=crlf

creategameprojects text
createallprojects text
xcode_ccache_wrapper text
vpc text
vpc_linux binary
vpc_osx binary

*.sh text
*.bat text
*.txt text
*.c text
*.h text
*.H text
*.cc text
*.cpp text
*.vpc text
*.vgc text
*.nut text
*.awk text
*.pl text
*.py text
*.xcconfig text
*.vcd text
*.vbsp text
*.proto text
*.inc text
*.fxc text
*.vsh text
*.lst text
*.mm text
*.cfg text
*.res text
*.rc text
*.def text
*.vmt text
*.inl text
*.asm text
*.gcc text eol=crlf
*.dsw text eol=crlf
*.dsp text eol=crlf
*.mak text

.gitignore text
makefile text eol=crlf
makefile_con text eol=crlf
sourcesdk_def.mak text
smdlexp.mak text
README text
CONTRIBUTING text
LICENSE text
makefile_base_posix.mak text eol=crlf

*.exe binary
*.dll binary
*.bsp binary
*.lib binary
*.doc binary
*.bmp binary
*.a binary
protoc binary
ccache binary

gtest_output_test_golden_lin.txt binary
mod_*_english.txt binary
